@import url('https://fonts.googleapis.com/css?family=Raleway:300,700');

* { box-sizing: border-box; }

body {
  background: #353535;
  color: #c4c4c4;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  line-height: 1.45;
  display: flex;
  flex-wrap: wrap;
}

.sidebar {
  background: #4f4f4f;
  flex: 1 .5 10%;
  min-width: 200px;
  padding: 1em;
}

a:link{
    color: white;
}

a:visited{
    color:white;
}

iframe{
    display:block;
    margin:auto;
}

.logo {
  text-transform: uppercase;
  margin-bottom: 1em;
}

.bolded {
  font-weight: 700;
}

.nav-item.active{
    color: #c4c4c4 !important;
}

.nav-item {
  color: #737373 !important;
  text-decoration: none;
  font-size: 1.7rem;
  display: inline-block;
  margin-right: 1.2em;
}

.nav-item:hover{
    color: #c4c4c4 !important;
}

@media (min-width: 1500px) {
    .nav-item{
        display: block;
        margin: 7vh 0;
    }

    .logo{
        margin-bottom: 5em;
    }
}

.main-content {
  padding: 8%;
  flex: 1 1 80%;
  min-height: 100vh;
  margin-top: 25px;
  margin-bottom: 25px;
}

.portfolio {
  display: grid;
  height: 100%;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  text-decoration: none;
}

.portfolio-item {
    background: #f96855;
    color: white !important;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background-position: top;
    transition: all ease-in-out 300ms;
    position: relative;
    z-index: 10;
    text-shadow: 2px 2px 10px black;
}
  
.portfolio-item.small {
    grid-row: span 1;
    grid-column: span 1;
}
  
.portfolio-item.medium {
    grid-row: span 2;
    grid-column: span 2;
}
  
.portfolio-item.large {
    grid-row: span 3;
    grid-column: span 3;
}
  
.portfolio-item.tall {
    grid-row: span 3;
    grid-column: span 2;
}
  
.portfolio-item.wide {
    grid-row: span 2;
    grid-column: span 3;
}

.two {
  background-image: url('http://lh3.googleusercontent.com/9P3-WvcRERYalwFxuQhm6JNsI7F8QlDQCSARlINPh_q9qTmzl3Mt8rglJSiPhSg-7qw');
  background-size: cover;
  background-position: top;
}

.four {
    background-image: url('/Images/DiceLogo.png');
    background-size: cover;
    background-position: top;
}

.one {
    background-image: url('/Images/checkers_board.png');
    background-size: cover;
    background-position: top;
}

.six {
    background-image: url('/Images/Hildas.png');
    background-size: cover;
    background-position: top;
}

.portfolio:hover .portfolio-item{
    opacity: 0.3;
}

.portfolio .portfolio-item:hover {
    opacity: 1;
    color: white;
    text-shadow: 2px 2px 10px black;
    background-position: center;
}

.game-site {
    display: grid;
    height: 100%;
    grid-template-rows: 50% auto;
    grid-template-columns: 5% auto 5%;
    grid-gap: 10px;
}

.game-window {
    align-content:center;
}

.game-description {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column: span 1;
    grid-row: span 1;
}

.portfolio a:link{
    text-decoration: none !important;
}

input[type=text], select, textarea {
    font-family: 'Raleway', sans-serif;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

input[type=submit] {
    font-family: 'Raleway', sans-serif;
    background: #f96855;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background: #f73a22;
}

.container {
    border-radius: 5px;
    background-color: #4f4f4f;
    padding: 20px;
    margin-top: 20px;
}