body {
	margin: 0;
}

header {
	background: #999;
	color: white;
	padding: 5px 15px;
}

	header h1 {
		margin: 0;
		display: inline;
		padding-right: 0;
	}

nav ul {
	margin: 0;
	display: inline;
}

	nav ul li {
		list-style-type: none;
		color: white;
		background: black;
		display: inline-block;
		padding: 5px 10px;
	}

		nav ul li a {
			color: white;
		}

.master-footer {
	background: linear-gradient(#00c1ff,white,#00c1ff);
	padding: 5px 5px 5px 15px;
}

.row {
	clear: both;
}

.col {
	float: left;
	background: #333;
	border-radius: 5px;
	padding: .5%;
	color: white;
	float: left;
	margin: .5%;
	width: 31%;
}
